@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Outfit', sans-serif;
}

body{
  background: url(./assets/backgroundlighthuge2.jpg);
  background-size: cover;
  overflow-x: hidden;
}

:root{
  --primary: black;
  --secondary: white;
  --tertiary: rgb(68, 145, 218);
  --quaternary:#222;
}

ul{
  list-style-type: none;
}


