.menu {
    display: none;
}

.menu-active {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: var(--primary);
    color: var(--secondary);
    flex-direction: column;
}

.menuheader button {
    background-color: var(--tertiary);
    border-radius: 5px;
    font-size: 18px;
    padding: 5px;
    color: var(--secondary);
    transition: 0.5s
}

.menuheader {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.menuheader button:hover {
    transform: scale(1.2);
}